# Ejercicios de Python
Inteligencia Artificial - Facundo A. Lucianna - CEIA - FIUBA

A continuación veamos ejercicios de Python que deben resolver.

**Ejercicio 1**: Imprima el texto `”Hola, estoy aprendiendo Python”`. Agregue un comentario de una sola línea antes de la impresión de texto que explique qué hace la función `print()`.

In [1]:
print("Hola, estoy aprendiendo a programar en Phyton")  #muestra un mensaje en pantalla

Hola, estoy aprendiendo a programar en Phyton

**Ejercicio 2**: Imprima el siguiente texto respetando el formato (use triple """):

```
Sobre el puente de Avignon
      Todos bailan, todos bailan
Sobre el puente de Avignon
      Todos bailan y yo también
```

In [2]:
avignon_song = """
Sobre el puente de Avignon
Todos bailan, todos bailan
Sobre el puente de Avignon
Todos bailan y yo también
"""

print(avignon_song)

Sobre el puente de Avignon
Todos bailan, todos bailan
Sobre el puente de Avignon
Todos bailan y yo también

**Ejercicio 3**: Crea las siguiente variables:

```
var1 = 1
var2 = 3.14
var3 = −8
var4 = "CEIoT"
```

1. Realice las siguientes operaciones e imprímalas. Comente en la notebook qué operaciones se hace en cada caso:
    1. `var1 + var2`
    2. `var1 − var2`
    3. `var3 / 3`
    4. `var3 // 3`
    5. `var3 % 3`
    6. `var2 ** 2`
    7. `var3 ∗ var2`
    8. `var4 + var4`
    9. `var4 * ((-1) * var3)`
    10. `var4 / var2`
2. ¿Todas las operaciones aquí listadas pueden realizar? Si la respuesta es no, cual no se puede realizar? ¿Qué error da Python? ¿Qué significa ese error?

La operaciòn numero 10 no se permite porque estoy dividiendo un string con un punto flotante

In [ ]:
var1 = 1
var2 = 3.14
var3 = -8
var4 = "CEIoT"

print(var1 + var2)              # Suma de var1 y var2
print(var1 - var2)              # Resta de var1 y var2
print(round(var3 / 3,2) )       # División de var3 entre 3
print(var3 // 3)                # División entera de var3 entre 3
print(var3 % 3  )               # Resto de la división de var3 entre 3
print(var2 ** 2 )               # var2 elevado a la potencia 2
print(var3 * var2)              # Multiplicación de var3 por var2
print(var4 + var4)              # Concatenación de var4 con sí mismo
print(var4 * ((-1) * var3))     # Concatenación de var4 con sí mismo, -var3 veces
print(var4 / var2)              # División de var4 entre var2 (esto no tiene sentido, pero lo dejo para que veas el error)

4.140000000000001
-2.14
-2.67
-3
1
9.8596
-25.12
CEIoTCEIoT
CEIoTCEIoTCEIoTCEIoTCEIoTCEIoTCEIoTCEIoT

TypeError: unsupported operand type(s) for /: 'str' and 'float'

**Ejercicio 4**: Cree la variable `pi_string = "3.1415926"`
1.  Conviertala en `float` (use la función `float()`) y guarda el resultado en la variable `pi_float`.
2.  Imprima la variable `pi_float` con solo 3 decimales

In [6]:
pi_string = "3.1415926"
pi_string = float(pi_string)  # Convertir la cadena a un número de punto flotante
print(round(pi_string,3))  # Imprimir el número convertido

3.142

**Ejercicio 5**: Crea una variable con el string: `"Me gusta la comida mexicana"`.
1. Crea una variable que se llame `mexican_food` que sea booleana.
2. Mediante control de flujo, imprima condicionalmente la variable string si la variable del apartado 1 es verdadera.

**Ejercicio 6**: Imprima la fecha y hora actual (utilice la librería [datetime](https://www.w3schools.com/python/python_datetime.asp))

**Ejercicio 7**: Imprima el calendario del mes de Marzo de 2023 (utilice la librería [calendar](https://www.geeksforgeeks.org/python-calendar-module/))

**Ejercicio 8**: Usando Python resuelva este ejercicio:
```
Supongamos que tenemos U$D 100, el cual se puede invertir y retornar el 10% extra cada año. Es decir, después del primer año tendríamos 100 * 1.1 = 110, luego de dos años 100 * 1.1 * 1.1 = 121.

Calcule la cantidad de plata que uno tendría luego de 7 años, y después de 23 años.
```

**Ejercicio 9**: Introduzca el código del punto anterior en una función. Que los argumentos sean la inversión inicial, el interés y la cantidad de años. Obtenga diferentes salidas combinando estas variables.

**Ejercicio 10**: Escriba una función que teste si un número está entre 100 y 2000.

**Ejercicio 11**: Escriba una función que verifique si dado un número natural, si es capicúa (por ejemplo 12321 o 90809).

**Ejercicio 12**: 
1. Escriba una función que dado un string reemplaza todos los caracteres con `"*"` menos los últimos 5 caracteres.
2. Modifique la función para que un argumento opcional se pueda cambiar cuantos caracteres se quieren dejar sin `"*"`.

**Ejercicio 13**: 
1. Escriba una función que dado el radio (número flotante) como entrada devuelva el diámetro, circunferencia y área de un círculo.
2. Agregue un argumento opcional dimensión que por defecto es 2, si es 3 retorna el diámetro y el volumen de una esfera. Cualquier otro valor, retorne
-1.

**Ejercicio 14**: Genere una lista formada por los números naturales desde el 1 hasta el 9 incluidos llamada `mi_lista` usado list comprehension.
1. Imprima el primer, el quinto y último elemento, y además la cantidad de elementos que tiene la lista.
2. Cree una lista nueva que incluya solamente desde el segundo al sexto elemento.
3. Quite el último elemento de la lista `mi_lista` y guárdelo en una variable llamada `ultimo_elemento`.
4. Quite el tercer elemento de la lista `mi_lista`.
5. Agregue el número 4 al final de `mi_lista`.
6. Agregue el string `"Soy un string"` en la tercera posición de `mi_lista`.

**Ejercicio 15**: Escriba una función que devuelva una tupla de todos los números impares dado un valor de inicio y final. Siendo el de inicio opcional, con valor por defecto igual a 1.

**Ejercicio 16**: Escriba una función que realice la suma de dos vectores. Para "armar" a los vectores vamos a usar listas de igual tamaño. La función debe devolver el vector suma en forma de lista.

**Ejercicio 17**: Cree un diccionario llamado datos_personales con los siguientes datos:
```
nombre: Pedro
apellido: Perez
edad: 43
```

1. Imprima el apellido.
2. Cambie el valor de la edad a 24.
3. Agregue dos elementos:
```
    tipo de sangre: A
    dirección: Av. Colón 1132.
```
4. Elimine el elemento tipo de sangre.
5. Imprima todo el diccionario.

**Ejercicio 18**: Cree un programa que usando while sume los números del 1 a 1000. Al final imprima la suma.

**Ejercicio 19**: Usando for:
1. Imprima todos los elementos de la lista `mi_lista` del ejercicio 14.
2. Genere una nueva lista que sea los valores al cuadrado de todos los elementos de `mi_lista` que sean numéricos.

**Ejercicio 20**: Calcule los primeros 30 números primos

**Ejercicio 21**: Escriba una función que construya el patrón que tenga como argumento de entrada el maximo numero de asterisco de la punta (valor minimo igual a 2):

```
*
**
***
****
*****
****
***
**
*
```

**Ejercicio 22**: El matemático aleman Gottfried Leibniz desarrolló un método para aproximar el valor de π:

$$ \pi = 4 \sum_{n=0}^{\infty} \frac{(-1)^n}{2n + 1} $$

Escriba una función que mediante un argumento especifique el número de iteraciones usadas para aproximarse usando esta serie e imprima en pantalla el valor resultante.

**Ejercicio 25**: Escriba un script para crear una función **lambda** que sume 15 a un número dado pasado como argumento, también cree una función **lambda** que multiplique el argumento x con el argumento y e imprima el resultado.

**Ejercicio 26**: Un sistema de administración de perros de una veterinaria permite cargar datos del perro:
```
Nombre del perro
Nombre completo del dueño
Peso
Raza
```

Defina una clase llamada `Dog` que se inicie con todos los atributos vacíos y que con diferentes métodos se puedan completar la información y mostrar la información.